<div class="details-container">
    <div class="item">
        <p>
            NSSID:
            <b>{{nssid}}</b>
            <a href="https://caws3.nsslabs.com/exploits/exploit-details/{{nssid}}/overview">View in CAWS</a>
        </p>
        <p>
            Exploit Type:
            <b>{{details.exploitType}}</b>
        </p>
        <p>
            Threat Type:
            <b>{{details.threatType}}</b>
        </p>
        <p>
            Discovery Date:
            <b>{{details.discoveryDate}}</b>
        </p>
        <p>
            Application:
            <ul>
                <li>Days at risk:
                    <b>{{details.application.daysAtRisk}}</b>
                </li>
                <li>Family:
                    <b>{{details.application.application.name}}</b>
                </li>
            </ul>
        </p>
        <p>
            Platform:
            <ul>
                <li>Days at risk:
                    <b>{{details.platform.daysAtRisk}}</b>
                </li>
                <li>Family:
                    <b>{{details.platform.platform.name}}</b>
                </li>
            </ul>
        </p>
        <!--<p>
            Browser:
            <ul>
                <li>Days at risk:
                    <b>{{details.browser.daysAtRisk}}</b>
                </li>
                <li>Family:
                    <b>{{details.browser.browser.name}}</b>
                </li>
            </ul>
        </p>-->
        <div style="clear:both; margin-bottom: 5px;"></div>
    </div>
</div>